@import "base/fonts";
@import "base/reset";
@import "helpers/variables";
@import "helpers/mixins";
@import "layout/global";
@import "layout/header";
@import "pages/main";
@import "layout/footer";
@import url('https://fonts.googleapis.com/css?family=Muli');

html, body {
	box-sizing: border-box;
	font: 16px/1.5em 'Muli', sans-serif;
}

*, *:before, *:after {
  	box-sizing: inherit;
}

img {
	max-width: 100%;
}
