
.homepage_powercontrol {
  background: #3f3f3f;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  h3 {
    padding-top: 100px;
    text-transform: uppercase;
    color: #839599;
  }
  p {
    width: 100%;
    color: #fff;
  }
}

.homepage_powercontrol--video {
  video {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 10px;
  }
}

.homepage_products {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background: #212121;
  text-align: left;
  h3 {
    padding-top: 100px;
    text-transform: uppercase;
    color: #839599;
    margin-bottom: 40px;
  }
  h2 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 40px;
  }
  p {
    width: 100%;
    color: #fff;
  }
}

.learnButton {
  width: 140px;
  height: 40px;
  line-height: 2.5rem;
  background: #829198;
  border-radius: 50px;
  padding-left: 10px;
  padding-right: 10px;
  transition: .2s all ease-in-out;
  a {
    color: #fff;
    padding-left: 15px;
    transition: .2s all ease-in-out;
  }
  a:hover {
    text-decoration: none;
    color: #000;
  }
}

.learnButton:hover {
  background: #fff;
}

.homepage_products--image {
  margin: 0 auto;
  width: 70%;
}





.homepage_time {
  width: 100vw;
  display: flex;
  flex-flow: column;
}


@media screen and (min-width:960px) {
  .homepage_powercontrol--video {
    video {
      margin-bottom: -150px;
    }
  }

  .homepage_products {
    flex-flow: row nowrap;
  }
}
